---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: normal;
    src: url(./JosefinSans-Medium.ttf);
}

@font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: normal;
    src: url(./Vazirmatn-Light.ttf);
}

@font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: bold;
    src: url(./Vazirmatn-SemiBold.ttf);
}

@font-face {
    font-family: 'Vazirmatn';
    font-style: normal;
    font-weight: 100;
    src: url(./Vazirmatn-Regular.ttf);
}

.page-content {
    background: #F5F5F5;
    font-family: 'Vazirmatn';
}

.page-content h1, .page-content h2, .page-content h3, .page-content h4 {
    font-weight: normal;
    font-family: 'Josefin Sans';
}

.site-header, .site-header > .wrapper {
    border-top: none;
    min-height: calc(88px + 2*0.6rem);
}

.site-title {
    font-family: 'Josefin Sans';
    font-weight: normal;
    line-height: inherit;
    margin-top: 1rem;
}

/* applied font family to subtitle */
.site-header {
    font-family: 'Josefin Sans';
    font-weight: normal;
    line-height: inherit;
}

.trigger {
    margin-bottom: 0.2rem;
    margin-left: 3.8rem;
}

.post-title {
    font-family: 'Josefin Sans';
    font-weight: normal;

}

.post-meta {
    font-family: 'Josefin Sans';
    font-weight: normal;
}

.footer-col-wrapper {
    text-align: center;
    margin: 0;
}

.site-footer {
    border-top: none;
}

.social-media-list > li {
    display: inline-block;
    margin: 0 1.5rem;
    font-size: 1.3rem;
}

.page-content a.post-link, .page-content a.post-link:visited {
    font-weight: 100;
    text-decoration: none;
}

.page-content a, .page-content a:visited {
    color: rgb(27, 27, 27);
    text-decoration: underline;
}

a, a:visited {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

.post-meta {
    display: inline-block;
    font-size: 0.9rem;
    width: 15%;
    min-width: 100px;
}

.post-list {
    margin-left: 5rem;
}

.post-list > li > h3 {
    display: inline-block;
}

.post-link {
    font-size: 0.9rem;
}

.page-content .post-link:hover, .page-content .post-link:focus {
    text-decoration: none;
    color: #828282;
    transition: all 0.1s ease-in-out 0s;
}

.post-list > li {
    margin: 0;
    margin-bottom: -0.5rem;
}

a:hover, a:focus {
    text-decoration: none;
}

.page-content a:hover, .page-content a:focus {
    text-decoration: underline;
}

.site-header img {
    width: 5.5rem;
    max-width: 100%;
    height: auto;
}

.site-header > .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#subscribe-button {
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    border: 0.17rem solid rgb(174,134,31);
    color: rgb(174,134,31);
}

#subscribe-button:hover {
    background: rgb(174,134,31);
    color: #FFF;
    transition: all 0.3s ease-in-out 0s;
}

.wrapper::after {
    display: none;
}

#subscribe-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
}

#subscribe-form-wrapper {
    width: 100%;
    max-width: 400px;
    background: #FFF;
    display: inline-block;
    padding: 2rem;
    border-radius: 1rem;
}

#subscribe-form-wrapper  input[type="email"] {
    font-size: 0.8rem;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid rgb(174,134,31);
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-right: none;
    box-sizing: border-box;
}

#subscribe-form-wrapper  input[type="submit"] {
    font-size: 0.8rem;
    color: #FFF;
    width: 30%;
    margin: 0;
    padding: 0.5rem;
    border: 1px solid rgb(174,134,31);
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background: rgb(174,134,31);
    box-sizing: border-box;
}

#email-subscribe {
    display: flex;
    justify-content: center;
}

.mc-field-group {
    width: 70%;
}

#subscribe-form-wrapper  input[type="submit"]:hover {
    cursor: pointer;
}

#subscribe-form-wrapper  input[type="email"]:focus-visible {
    box-shadow: none !important;
    outline: 0;
}

.page-content img + em, .page-content .twitter-tweet + p.caption {
    color: #777;
    text-align: center;
    display: block;
    font-style: italic;
}

.page-content img {
    border-radius: 0.3rem;
    width: 90%;
    margin: 1rem auto;
    display: block;
}

.twitter-tweet {
    margin: 10px auto;
}

.page-content hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    height: 1px;
    background: #ccc;
}

.page-content table {
    font-weight: normal;
    font-family: 'Josefin Sans';
}

.page-content p, .page-content li {
    word-spacing: 0.02rem;
    letter-spacing: 0.02rem;
    line-height: 1.83rem;
}

.page-content blockquote {
    margin: 2rem auto;
    display: block;
    width: 85%;
}

.post {
    display: block;
    width: 87%;
    margin: auto;
}

.wrapper div {
    margin-right: 3.8rem;
}